/* normal */
.container{
  padding: 100px 200px;
}
.title{
  background-color: white;
  border-radius: 340px;
  width:fit-content;
  padding: 10px 20px;

  font-size: 30px;
  position: relative;
  z-index: 1;
}
.boxitem{
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: rgba(19, 71, 60, 0.685);
  transform: translateY(-60px);
}
.item{
  width: 800px;
  height: 500px;
  margin: 0 auto 40px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgb(131, 150, 123);
  border-radius: 30px;
}


/* index page */
.content{
  background-color: #1a1f33;
  color: white;
}

/* Web Page */


/* Game Page */
.gamedev{
  background-color: rgb(156, 185, 133);
  overflow: hidden;
}
/* .circle{
  width: 400px;
  height: 400px;
  background-color: rgb(90, 119, 90);

  border-radius: 400px;
  transform: translate(1500px,-1300px);
} */


/* Graphic Page*/
.graphic{
  background-color: #1a1f33;
  background-image: url('../public/image/town_example.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 60% 60%;

  height: 867px;
  overflow: hidden;
}
.flexbox{
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.walk {
  z-index: 1;
  margin-top: 150px;
  position: relative;
  left: 0;
  animation: mymove 15s linear infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes mymove {
  0% {transform: translateX(-800px);}
  100% {transform: translateX(1800px);}
}
.jump{
  margin-top: 150px;
}
.cat{
  margin-top: 400px;
  margin-left: 250px;
}
