/* normal */
.container{
  padding: 80px 200px;
}


/* index page */
.content{
  background-color: white;
}


/* Graphic Page*/
.graphic{
  background-image: url('../public/image/town_example.png');
  background-size: cover;
  background-repeat: no-repeat;
}
