/* normal */
.container{
  padding: 100px 200px;
}
.title{
  background-color: white;
  border-radius: 340px;
  width:fit-content;
  padding: 10px 20px;

  font-size: 30px;
}


/* index page */
.content{
  background-color: white;
}


/* Graphic Page*/
.graphic{
  background-image: url('../public/image/town_example.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 60% 60%;

  height: 867px;
  background-color: #1a1f33;
}
.flexbox{
  display: flex;
}
.walk ,.jump{
  margin-top: 150px;
}
.cat{
  margin-top: 400px;
  margin-left: 250px;
}
